/* Toggler like on getting started */

.mainContainer .mainWrapper .post .toggler :not(.gist-meta)>a {
    color: $toggler-button-text;
}

.mainContainer .mainWrapper .toggler :not(.gist-meta)>a:hover, .mainContainer .mainWrapper .toggler :not(.gist-meta)>a:focus {
    background: $toggler-button-selected;
    color: $toggler-button-text;
}

.toggler a {
  display: inline-block;
  padding: 10px 5px;
  margin: 2px;
  border: 1px solid #05A5D1;
  border-radius: 3px;
  text-decoration: none !important;
}
.toggler table {
  border-collapse: collapse;
  margin-top: 50px;
}
.toggler table, td, th {
  border: 0;
}

.toggler strong {
  font-size: 24px;
  color: $toggler-type-text;
}

.display-platform-mac .toggler .button-mac,
.display-platform-ubuntu .toggler .button-ubuntu,
.display-platform-centos .toggler .button-centos,
.display-platform-windows .toggler .button-windows,
.display-platform-ios .toggler .button-ios,
.display-platform-android .toggler .button-android,
.display-configuration-compile .toggler .button-compile,
.display-configuration-prebuilt .toggler .button-prebuilt,
.display-configuration-docker .toggler .button-docker,
.display-configuration-cloud .toggler .button-cloud {
  background-color: $toggler-button-selected;
}
block {
  display: none;
}
.display-platform-mac.display-configuration-prebuilt .mac.prebuilt,
.display-platform-ubuntu.display-configuration-prebuilt .ubuntu.prebuilt,
.display-platform-centos.display-configuration-prebuilt .centos.prebuilt,
.display-platform-windows.display-configuration-prebuilt .windows.prebuilt,
.display-platform-ios.display-configuration-prebuilt .ios.prebuilt,
.display-platform-android.display-configuration-prebuilt .android.prebuilt,
.display-platform-mac.display-configuration-compile .mac.compile,
.display-platform-ubuntu.display-configuration-compile .ubuntu.compile,
.display-platform-centos.display-configuration-compile .centos.compile,
.display-platform-windows.display-configuration-compile .windows.compile,
.display-platform-ios.display-configuration-compile .ios.compile,
.display-platform-android.display-configuration-compile .android.compile,
.display-platform-mac.display-configuration-docker .mac.docker,
.display-platform-ubuntu.display-configuration-docker .ubuntu.docker,
.display-platform-centos.display-configuration-docker .centos.docker,
.display-platform-windows.display-configuration-docker .windows.docker,
.display-platform-ios.display-configuration-docker .ios.docker,
.display-platform-android.display-configuration-docker .android.docker,
.display-platform-mac.display-configuration-cloud .mac.cloud,
.display-platform-ubuntu.display-configuration-cloud .ubuntu.cloud,
.display-platform-centos.display-configuration-cloud .centos.cloud,
.display-platform-windows.display-configuration-cloud .windows.cloud,
.display-platform-ios.display-configuration-cloud .ios.cloud,
.display-platform-android.display-configuration-cloud .android.cloud {
  display: block;
}
